
@{
    ViewData["Title"] = "Cham Cong";
    Layout = "~/Areas/Staff/Views/Shared/MyLayoutStaff.cshtml";
}

@model IEnumerable<QLLuong.Models.ChamCong >



<div class="container-fluid px-4">
    <h1 class="mt-4">Chấm công</h1>
    <ol class="breadcrumb mb-4">
        <!-- <li class="breadcrumb-item active">Dashboard</li> -->
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            <form method="get" asp-action="Index" class="d-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    @* <input id="keyword" class="form-control" name="searchString" type="text" placeholder="Tìm kiếm theo MNV,Họ Tên" style="width: 250px;" />
                    <button id="btnSearch" class="btn btn-primary" type="submit">
                        <i class="fas fa-search"></i>
                    </button> *@
                    @* <select id="departmentFilter" style="width: 200px; margin-left:20px;" class="form-control" name="selectedDepartmentId" onchange="this.form.submit()">
                        <option value="0">----Chọn phòng ban----</option>
                        @foreach (var department in ViewBag.Departments)
                        {
                            <option value="@department.MaPhongBan" selected="@(department.MaPhongBan.ToString() == Context.Request.Query["selectedDepartmentId"])">
                                @department.TenPhongBan
                            </option>
                        }
                    </select> *@
                    <input type="month" id="monthInput" name="selectedMonth" class="form-control" style="width: 200px; margin-left:20px;" value="@Context.Request.Query["selectedMonth"]" onchange="this.form.submit()" />
                </div>


            </form>



            <table id="tb" class="table table-hover">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>MNV</th>
                        <th>Tên nhân viên</th>
                        <th>Phòng ban</th>
                        <th>Chức vụ</th>
                        <th>Thời gian vào</th>
                        <th>Thời gian ra</th>
                        <th>Trạng thái</th>
                        <th>Ghi chú</th>
                        
                    </tr>
                </thead>
                <tbody>

                    @{

                        var STT = 1 + (ViewBag.pageIndex - 1) * 10;
                    }


                    @foreach (var s in Model)
                    {
                        
                        <tr>
                            <td>@STT</td>
                            <td>@s.MaNhanVien</td>
                            <td>@s.MaNhanVienNavigation.HoTen</td>
                            <td>@s.MaNhanVienNavigation.MaPhongBanNavigation.TenPhongBan</td>
                            <td>@s.MaNhanVienNavigation.MaChucVuNavigation.TenChucVu</td>
                            <td>@s.NgayGioVao</td>
                            <td>@s.NgayGioRa</td>
                            <td>@s.TrangThai</td>
                            <td>@s.GhiChu</td>
                            
                        </tr>
                        STT++;
                    }
                </tbody>
            </table>
            <nav aria-label="Page navigation">
                <ul class="pagination ">
                    <!-- nut trang dau -->
                    @if (ViewBag.PageIndex > 3)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = 1, searchString = Context.Request.Query["searchString"] })">Trang đầu</a>
                        </li>
                    }

                    <!-- Nut trang truoc -->
                    <li class="page-item @(ViewBag.PageIndex == 1 ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.PageIndex - 1, searchString = Context.Request.Query["searchString"] })" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <!-- hien thi 2 trang truoc va sau trang hien tai -->
                    @for (int i = Math.Max(1, ViewBag.PageIndex - 2); i <= Math.Min(ViewBag.TotalPages, ViewBag.PageIndex + 2); i++)
                    {
                        <li class="page-item @(i == ViewBag.PageIndex ? "active" : "")">
                            <a class="page-link" href="@Url.Action("Index", new { page = i, searchString = Context.Request.Query["searchString"] })">@i</a>
                        </li>
                    }

                    <!-- Nut next -->
                    <li class="page-item @(ViewBag.PageIndex == ViewBag.TotalPages ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.PageIndex + 1, searchString = Context.Request.Query["searchString"] })" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>

                    <!-- nut trang cuoi -->
                    @if (ViewBag.PageIndex < ViewBag.TotalPages - 2)
                    {
                        <li class="page-item">
                            <a class="page-link" href="@Url.Action("Index", new { page = ViewBag.TotalPages, searchString = Context.Request.Query["searchString"] })">Trang cuối</a>
                        </li>
                    }
                </ul>
            </nav>



        </div>
    </div>
</div>
@section Scripts {
    <script>

    </script>
}
