<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - Công ty TNHH một thành viên 789</title>
    <link rel="stylesheet" href="~/css/bootstrap5.css">
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>

</head>

<body class="sb-nav-fixed">
    <!-- Modal thông báo --> <!-- Modal thông báo -->
    <div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @TempData["ModalMessage"]
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Begin Top nav -->
    <partial name="TopNav" />
    <!-- End Top nav -->
    <div id="layoutSidenav">
        <!-- Begin Left menu -->
        <partial name="LeftMenu" />
        <!-- End Left menu -->
        <!-- Begin Right content -->
        <div id="layoutSidenav_content">
            <!-- Begin Main -->
            <main>
                
                @RenderBody()
            </main>
            <!-- End Main -->
            <!-- Begin Footer -->
            <partial name="Footer" />
            <!-- End Footer -->
        </div>
        <!-- End Right content -->
    </div>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false);
</body>

</html>
<script>
    $(document).ready(function () {
        // Kiểm tra nếu có thông báo trong TempData
        if ('@TempData["ModalMessage"]' !== '') {
            // Hiển thị modal
            $('#notificationModal').modal('show');
        }
    });
</script>

