@{
	ViewData["Title"] = "Cham Cong";
	Layout = "~/Views/Shared/MyLayout.cshtml";
}
@model IEnumerable<ChamCong >

<div class="container-fluid px-4">
    <h1 class="mt-4">Chấm công</h1>
    <ol class="breadcrumb mb-4">
        <!-- <li class="breadcrumb-item active">Dashboard</li> -->
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            <table id="tb" class="table table-hover">
                <thead>
                    <tr>
                        <th>MNV</th>
                        @* <th>Tên nhân viên</th>
                        <th>Phòng ban</th>
                        <th>Chức vụ</th> *@
                        <th>Thời gian vào</th>
                        <th>Thời gian ra</th>
                        <th>Trạng thái</th>
                        <th>Ghi chú</th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var s in Model)
                    {
                        <tr>
                            <td>@s.MaNhanVien</td>
                            <td>@s.NgayGioVao</td>
                            <td>@s.NgayGioRa</td>
                            <td>@s.TrangThai</td>
                            <td>@s.GhiChu</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>